[Unit]
Description=Load new Podman image and restart container
After=network.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/podman load -i %h/.local/share/podman/incoming-images/clueless-website_latest.oci.tar
ExecStart=/usr/bin/systemctl --user restart clueless-website