[Unit]
Description=Reverse proxy
After=network-online.target

[Container]
ContainerName=nginx
Image=docker.io/nginx:stable-alpine
PublishPort=80:80,443:443
Network=web-gateway.network

# Mount the main config.
Volume=%h/.config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
Volume=%h/.config/nginx/conf.d:/etc/nginx/conf.d:ro

# Mount the directory with the individual site configs.
Volume=/home/martin/proxy-configs:/etc/nginx/conf.d:ro

# Mount shared Certbot volumes.
Volume=certbot_certs:/etc/letsencrypt:ro
Volume=certbot_webroot:/var/www/html:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
